# Ex1 files

Week 2/Programming Assignment/Ex 1/ex1/.ipynb_checkpoints
Week 2/Programming Assignment/Ex 1/ex1/lib

# Ex2 files
Week 3/Programming Assignment/Ex 2/ex2/.ipynb_checkpoints
Week 3/Programming Assignment/Ex 2/ex2/lib

# Ex3 files
Week 4/Programming Assignment/Ex 3/ex3/.ipynb_checkpoints
Week 4/Programming Assignment/Ex 3/ex3/lib
